<html>
  <head>
    <title>ADD PRODUCT</title>
  </head>
  <body>
    <form action="../views/home.php">
      <fieldset style="width: 25%">
        <legend>ADD PRODUCT</legend>
        <table>
          <tr>
            <td>Name:</td>

            <td><input type="text" name="username" value="" /></td>
          </tr>
          <tr>
            <td>Buying Price:</td>
            <td><input type="text" name="buying" value="" /></td>
          </tr>
          <tr>
            <td>Selling Price:</td>
            <td><input type="text" name="selling" value="" /></td>
          </tr>
          <tr>
            <td>
              <hr />
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" /></td>
            <td>Display</td>
          </tr>

          <tr>
            <td></td>
            <td><button>Sav</button></td>
          </tr>
        </table>
      </fieldset>
    </form>
  </body>
</html>
